{% include "header.html" %}
<main id="main" class="main">
    <div class="card col-10">
        <div class="card-body ">
        <h5 class="card-title">Edit {{ employee.name }}</h5>

        <!-- Vertical Form -->
        <form class="row g-3 justify-content-center" action="{{ url_for('edit_member', id=employee.id) }}" method="post">
            <div class="col-12">
              <label for="inputNanme4" class="form-label">Employee Name</label>
              <input type="text" class="form-control" name="name" value="{{ employee.ename }}" id="inputNanme4">
            </div>
            <div class="col-12">
              <label for="inputEmail4" class="form-label">Employee Email</label>
              <input type="email" class="form-control" name="email" value="{{ employee.email }}" id="inputEmail4">
            </div>
            <div class="col-12">
              <label for="inputPassword4" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" value="{{ employee.password }} id="inputPassword4">
            </div>
            <br>
            <fieldset class="row mb-3">
              <legend class="col-form-label col-sm-2 pt-0">Is Admin</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="isAdmin" id="gridRadios1" value="1" >
                  <label class="form-check-label" for="gridRadios1">
                    Yes
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="isAdmin" id="gridRadios2" value="0" checked>
                  <label class="form-check-label" for="gridRadios2">
                    No
                  </label>
                </div>
              </div>
          </fieldset>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form><!-- Vertical Form -->

        </div>
    </div>
</main>
{% include "footer.html" %}