{% include "header.html" %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Admins</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{admincount}}</h6>
                      
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="card-body">
                  <h5 class="card-title">Employees </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people  "></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{employeescount}}</h6>
                      
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                <div class="card-body">
                  <h5 class="card-title">Customers </span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{customercount}}</h6>
                    
                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

            <!-- Reports -->
<!-- Right side columns -->
<div class="row">

  <!-- Recent Activity -->
  <div class="card col-lg-5">
    <div class="card-body">
      <h5 class="card-title">Recent Activity </h5>

      <div class="activity">
        {% if activities: %}
          {% for a in activities %}

            <div class="activity-item d-flex">
              <div class="activite-label">{{a.date}}</div>
              <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
              <div class="activity-content">
                {{a.title}}
              </div>
            </div><!-- End activity item-->

          {% endfor %}
        {% else: %}
          <div class="container d-flex justify-content-center align-items-center" style="height: 250px;">
            <div class=" ">
              <span class="fw-bold text-primary display-6">No Activity!<i class="bi bi-emoji-frown"></i></span>
            </div>
          </div>
        {% endif %}
        

      </div>

    </div>
  </div><!-- End Recent Activity -->
  <div class="col-lg-1"></div>
  <!-- Website Traffic -->
  <div class="card col-lg-6">
    <div class="card-body pb-0">
      <h5 class="card-title">Data Graph</h5>

      <div id="trafficChart" style="min-height: 300px;" class="echart"></div>

      <script>
        document.addEventListener("DOMContentLoaded", () => {
          echarts.init(document.querySelector("#trafficChart")).setOption({
            tooltip: {
              trigger: 'item'
            },
            legend: {
              top: '5%',
              left: 'center'
            },
            series: [{
              name: 'Access From',
              type: 'pie',
              radius: ['40%', '70%'],
              avoidLabelOverlap: false,
              label: {
                show: false,
                position: 'center'
              },
              emphasis: {
                label: {
                  show: true,
                  fontSize: '18',
                  fontWeight: 'bold'
                }
              },
              labelLine: {
                show: false
              },
              data: [{
                  value: '{{ customercount }}',
                  name: 'Customers'
                },
                {
                  value: '{{emailcount}}',
                  name: "Email's verified"
                },
                {
                  value: '{{phonecount}}',
                  name: "Ph.no's verified"
                },
              ]
            }]
          });
        });
      </script>

    </div>
  </div><!-- End Website Traffic -->

</div><!-- End Right side columns -->

            <!-- End Line Chart -->

                </div>

              </div>
            </div><!-- End Reports -->

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="card-body">
                  <h5 class="card-title">Customers with E-Mail Preference</h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Customer</th>
                        <th scope="col">E-Mail id</th>
                        <th scope="col">Phone Number</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for email in email_list: %}
                        <tr>
                          <th scope="row"><a href="{{ url_for('edit_customer', id=email.id) }}">{{ email.id }}</a></th>
                          <td>{{ email.name }}</td>
                          <td>{{ email.email }}</td>
                          <td>{{ email.mobile }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->

            <!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">
                <div class="card-body pb-0">
                  <h5 class="card-title">Customers with SMS Preference</h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Customer</th>
                        <th scope="col">E-Mail id</th>
                        <th scope="col">Phone Number</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for mobile in mobile_list: %}
                        <tr>
                          <th scope="row"><a href="{{ url_for('edit_customer', id=mobile.id) }}">{{ mobile.id }}</a></th>
                          <td>{{ mobile.name }}</td>
                          <td>{{ mobile.email }}</td>
                          <td>{{ mobile.mobile }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Top Selling -->

          </div>
        </div><!-- End Left side columns -->

        

      </div>
    </section>

  </main><!-- End #main -->

{% include "footer.html" %}